body {
    /* Image by <a href="https://www.freepik.com/free-photo/top-view-agendas-succlent-plant_7079184.htm#query=portfolio%20background&position=15&from_view=keyword&track=ais_user&uuid=7648a313-f1b8-423a-ab40-2bc19211b1e3">Freepik</a> */
    margin: 0px;
    padding: 0px;
    background-image: url('../leandra-rieger-VEdKXNhbeWs-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#menu-btn-img{
    display: none;
    height: 50px;
}

#centering-div{
    display: flex;
    justify-content: center;
}

#project-content{
    border: 2px solid white;
    border-radius: 15px;
    width: 75vw;
    background-color: rgb(30, 26, 26);
}

#proj1{
    margin-top: 15px;
}

#proj3{
    margin-bottom: 15px;
}

.proj-headings{
    color: white;
    margin-left: 15px;
    font-size: clamp(14px, 1.5vw, 25px);
}

.proj-content{
    color: white;
    margin-left: 20px;
    font-size: clamp(14px, 1.5vw, 25px);
}